<nav><ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/']"><h2>Home</h2></a>
    </li>

  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/blog']"><h2>Blog</h2></a>
    </li>

  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/contact']"><h2>Kontakt</h2></a>
    </li>

  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/blog/add-post']"><h2>Add-post</h2></a>
  </li>

  <li class="nav-item">
    <button (click)="logOut()" class="dropdown-item">Wyloguj</button>
  </li>

  </ul>
</nav>


